body{
    background-color:black;
    font-family:Arial, Helvetica, sans-serif;
    color: #545454;
}

h1{
    color:blue;
    font-size: 24px;
}
p{
    color: white;
    font-family: 10px;
}